[user]
	name = hkurokawa
	email = hirosh.kurokawa@gmail.com
[color]
	ui = true
[push]
	default = current
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[ghi]
	token = !security find-internet-password -a hkurokawa -s github.com -l 'ghi token' -w
[ghq]
	root = ~/git
	root = ~/hg
	root = ~/go/src
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[alias]
	st = status
	lo = log --oneline
        lt = log --oneline --graph
	co = checkout
	cm = commit -m
	df = diff
	dc = diff --cached
[core]
	autocrlf = input
[merge]
	ff = false
[tig "bind"]
	status = S !?git stash save --keep-index %(prompt)
